h1{
    color: rgb(6, 239, 57);
}
p{
    color: red;
}
button{
    color: rgb(49, 175, 57);
    background-color: white;
}
body{
    background-color: grey
}
button{
    color: red;
    background-color: black;
}
h2{
    background-color: red;
}
